@import 'conn.scss';
.order-swiper{
	width:100%;
	height:8rem;
	background-color:#000;
	img{
		width:100%;
	}
}
.od-back{
	border-radius:50%;
	width:0.6rem;
	height:0.6rem;
	line-height:0.6rem;
	background-color:rgba(0,0,0,.5);
	position: absolute;
	left:0.2rem;
	top:0.2rem;
	z-index:3;
	color:#fff;
	text-align: center;
}
.goods-desc{
	padding:0.3rem;
	background-color:#fff;
	.gd-01{
		font-size:0.35rem;
	}
	.gd-02{
		color:#777;
	}
	.gd-03{
		font-size:0.4rem;
		color:$colorff6700;
		font-weight: bold;
		span{
			font-size:0.35rem;
		}
	}
}
.goods-select{
	em{
		color:$color999999;
		margin-right:0.15rem;
	}
	span{
		
	}
}
.parter-01{
	height:2.4rem;
	top:0;
	left:0;
	padding:0.2rem;
	.par1-left{
		width:2.0rem;
		height:2.0rem;
		margin-right:0.2rem;
		img{
			width:100%;
			height:100%;
		}
	}
	.par1-right{
		
	}
}
.par1r-01{
	font-size:0.45rem;
	color:$colorff6700;
}
.par1r-02{
	position: relative;
	z-index:2;
	height:1.6rem;
	overflow-y: auto;
}

.parter-02{
	position: fixed;
	top:2.4rem;
	bottom:1rem;
	left:0;
	right:0;
	overflow-y:auto;
	.par2-in{
		padding:0.2rem;
	}
}
.parter-03{
	background-color:$colorff6700;
	color:#fff;
	width:100%;
	height:1rem;
	line-height:1rem;
	bottom:0;
	left:0;
	text-align: center;
}
.gd-arg{
	border-bottom:1px solid #f1f1f1;
	.gd-arg-tit{
		margin-bottom:0.2rem;
	}
	.gd-arg-con{
		li{
			padding:0.15rem 0.2rem;
			border:1px solid #e6e6e6;
			margin:0.2rem;
			&.current{
				color:$colorff6700;
				border-color:#ffd4b5;
			}
			&.notCurrent{
				color:#999;
				border:1px dashed #ccc;
			}
		}
	}
}

.inline-box{
	.gd-arg-tit{

	}
	.gd-arg-con{
		display:flex;
		li{
			
		}
	}
}
.par1-close{
	position: absolute;
	right:0.1rem;
	top:0.1rem;
	color:#999;
}
.gd-bottom{
	position: fixed;
	background-color:#fff;
	height:1rem;
	width:100%;
	bottom:0;
	left:0;
	display: flex;
	border-top:1px solid #f1f1f1;
}
.gdb-icon{
	text-align: center;
	width:2rem;
	height:1rem;
	display: block;
	color:#999;
	i{
		display:block;
		font-size:0.45rem;
		margin:0.05rem 0;
	}
	span{
		display: block;
	}
}
.gdb-btn{
	width:5.5rem;
	height:1rem;
	line-height:1rem;
	color:#fff;
	background-color:$colorff6700;
	text-align: center;
}




























